<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between centre">
      <div>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          <div></div>
        </button>
        <a routerLink="/all-gallery">Galleries</a>
      </div>
      <nav *appUserType="'user' else anonMenu">

        <button mat-icon-button [matMenuTriggerFor]="menu" >
          <img [src]="apiUrl + '/uploads/' + ( user | async )?.avatar" style="border-radius: 50%; width: 35px; height: 35px; margin-top: 10px" [alt]="'Avatar' + ( user |  async )?.displayName">
        </button>
        <mat-menu #menu=matMenu>
          <button mat-menu-item disabled>{{ (user | async)?.email }}</button>
          <button mat-menu-item [routerLink]="['/user-gallery', (user | async)?._id]">My gallery</button>
          <a mat-button routerLink="/new-gallery-image">Add new image</a>
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>

      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #anonMenu>
  <nav>
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>

