<div mat-dialog-content class="mat-typography">
    <div fxLayout="row wrap" >
      <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%">
          <img
            [src]="'http://localhost:8000/uploads/' + thisImage?.image"
            [alt]="'Photo of' + thisImage?.image"
            style="height: auto; width: 250px"
          />
      </div>
    </div>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onClose()">
    Cancel
  </button>
</mat-dialog-actions>

