<div fxLayout="row" fxLayoutAlign="space-between flex-start" *appUserType="'user'" >
  <h1>Gallery by {{ userName }}</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else galleriesArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #galleriesArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let image of galleries | async">
      <mat-card >
        <img
          [src]="image.image | image"
          [alt]="'Photo of' + image.image | image"
          mat-card-image
        />
        <h4>Image name: {{ image.title }}</h4>
        <div >
          <button
            type="submit"
            mat-raised-button
            color="warn"
            (click)="removeImage(image._id)"
          >Delete</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>




